{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-lg-4">
    <div class="card user-card user-card-1">
      <div class="card-body pb-0">
        <div class="float-end">
          <span class="badge badge-success">Pro</span>
        </div>
        <div class="media user-about-block align-items-center mt-0 mb-3">
          <form method="post" action="{% url "upload_avatar" %}" class="position-relative d-inline-block" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="file" onchange="this.form.submit()" name="avatar" class="d-none" id="avatar">
            <label for="avatar">
              {% if request.user.profile.avatar %}
                <img class="img-radius img-fluid wid-80" src="{{ request.user.profile.avatar.url }}" alt="User image">
              {% else %}
                <img class="img-radius img-fluid wid-80" src="{% static 'assets/images/user/avatar-5.jpg' %}" alt="User image">
              {% endif %}
             
            </label>
            <div class="certificated-badge">
              <i class="fas fa-certificate text-primary bg-icon"></i>
              <i class="fas fa-check front-icon text-white"></i>
            </div>
          </form>
          <div class="media-body ms-3">
            <h6 class="mb-1">
              {% if request.user.profile.full_name %}
                {{request.user.profile.full_name}}
              {% else %}
                {{ request.user.username }}
              {% endif %}
            </h6>
            <p class="mb-0 text-muted">
              {{ request.user.email }}
            </p>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="f-w-500"><i class="feather icon-mail m-r-10"></i>Email</span>
          <a href="mailto:demo@sample" class="float-end text-body">{{ request.user.email }}</a>
        </li>
        <li class="list-group-item">
          <span class="f-w-500"><i class="feather icon-phone-call m-r-10"></i>Phone</span>
          <a href="#" class="float-end text-body">{{ request.user.profile.phone|default_if_none:"" }}</a>
        </li>
      </ul>
      <div class="nav flex-column nav-pills list-group list-group-flush list-pills mt-2" id="user-set-tab" role="tablist"
        aria-orientation="vertical">
        <a class="nav-link list-group-item list-group-item-action active" id="user-set-profile-tab"
          data-bs-toggle="pill" href="#user-set-profile" role="tab" aria-controls="user-set-profile"
          aria-selected="true">
          <span class="f-w-500"><i class="feather icon-user m-r-10 h5 "></i>Profile
            Overview</span>
          <span class="float-end"><i class="feather icon-chevron-right"></i></span>
        </a>
        <a class="nav-link list-group-item list-group-item-action" id="user-set-information-tab" data-bs-toggle="pill"
          href="#user-set-information" role="tab" aria-controls="user-set-information" aria-selected="false">
          <span class="f-w-500"><i class="feather icon-file-text m-r-10 h5 "></i>Edit Profile</span>
          <span class="float-end"><i class="feather icon-chevron-right"></i></span>
        </a>
        {% comment %} <a class="nav-link list-group-item list-group-item-action" id="user-set-account-tab" data-bs-toggle="pill"
          href="#user-set-account" role="tab" aria-controls="user-set-account" aria-selected="false">
          <span class="f-w-500"><i class="feather icon-book m-r-10 h5 "></i>Account
            Information</span>
          <span class="float-end"><i class="feather icon-chevron-right"></i></span>
        </a> {% endcomment %}
        <a class="nav-link list-group-item list-group-item-action" id="user-set-passwort-tab" data-bs-toggle="pill"
          href="#user-set-passwort" role="tab" aria-controls="user-set-passwort" aria-selected="false">
          <span class="f-w-500"><i class="feather icon-shield m-r-10 h5 "></i>Change
            Password</span>
          <span class="float-end"><i class="feather icon-chevron-right"></i></span>
        </a>
        {% comment %} <a class="nav-link list-group-item list-group-item-action" id="user-set-email-tab" data-bs-toggle="pill"
          href="#user-set-email" role="tab" aria-controls="user-set-email" aria-selected="false">
          <span class="f-w-500"><i class="feather icon-mail m-r-10 h5 "></i>Email
            settings</span>
          <span class="float-end"><i class="feather icon-chevron-right"></i></span>
        </a> {% endcomment %}
      </div>
    </div>
    {% comment %} <div class="card">
      <div class="card-header">
        <h5>Hello card</h5>
        <div class="card-header-right">
          <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
              <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i>
                    maximize</span><span style="display:none"><i class="feather icon-minimize"></i>
                    Restore</span></a></li>
              <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i>
                    collapse</span><span style="display:none"><i class="feather icon-plus"></i>
                    expand</span></a></li>
              <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i>
                  reload</a></li>
              <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i>
                  remove</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor
          incididunt
        </p>
      </div>
    </div> {% endcomment %}
  </div>
  <div class="col-lg-8">
    <div class="tab-content bg-transparent p-0 shadow-none" id="user-set-tabContent">
      <div class="tab-pane fade show active" id="user-set-profile" role="tabpanel"
        aria-labelledby="user-set-profile-tab">
        {% if messages %}
          {% for message in messages %}          
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
              <h5 class="alert-heading">
                <i class="feather icon-alert-circle me-2"></i>
              </h5>
              <p class="mb-0">{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
        <div class="card">
          <div class="card-header">
            <h5><i class="feather icon-user text-c-blue wid-20"></i><span class="p-l-5">About me</span>
            </h5>
          </div>
          <div class="card-body">
            <p>
              {{ request.user.profile.bio.html|safe }}
            </p>
            <h5 class="mt-5 mb-3">Personal Details</h5>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="">Full Name</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.profile.full_name|default_if_none:"" }}</td>
                </tr>
                <tr>
                  <td class="">Address</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.profile.address|default_if_none:"" }}</td>
                </tr>
                <tr>
                  <td class="">Zip Code</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.profile.zip_code|default_if_none:"" }}</td>
                </tr>
                <tr>
                  <td class="">Phone</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.profile.phone|default_if_none:"" }}</td>
                </tr>
                <tr>
                  <td class="">Email</td>
                  <td class="">:</td>
                  <td class="">{{ request.user.email|default_if_none:"" }}</td>
                </tr>
              </tbody>
            </table>
            <!-- Education -->
            {% comment %} <h5 class="mt-5 mb-4 pb-3 border-bottom">Education</h5>
            <div class="row align-items-center mb-3">
              <div class="col-sm-3">
                <h5>2014-2017</h5><span>Master Degree</span>
              </div>
              <div class="col-sm-9 border-start">
                <h6>Master Degree in Computer Application</h6>
                <p>University of Oxford, England</p>
              </div>
            </div>
            <div class="row align-items-center mb-3">
              <div class="col-sm-3">
                <h5>2011-2013</h5><span>Bechelor</span>
              </div>
              <div class="col-sm-9 border-start">
                <h6>Bachelor Degree in Computer Engineering</h6>
                <p>Imperial College London</p>
              </div>
            </div>
            <div class="row align-items-center mb-3">
              <div class="col-sm-3">
                <h5>2009-2011</h5><span>School</span>
              </div>
              <div class="col-sm-9 border-start">
                <h6>Higher Secondry Education</h6>
                <p>School of London, England</p>
              </div>
            </div> {% endcomment %}
            {% comment %} <h5 class="mt-5 mb-4 pb-3 border-bottom">Employment</h5>
            <div class="row align-items-center mb-3">
              <div class="col-sm-3">
                <h5>Current</h5><span>Senior</span>
              </div>
              <div class="col-sm-9 border-start">
                <h6>Senior UI/UX designer</h6>
                <p class="mb-1">Perform task related to project manager with the
                  100+ team under my observation. Team management is key role
                  in this company.</p>
                <span class="text-muted">Microsoft, TX, USA</span>
              </div>
            </div>
            <div class="row align-items-center mb-3">
              <div class="col-sm-3">
                <h5>2017-2019</h5><span>Junior</span>
              </div>
              <div class="col-sm-9 border-start">
                <h6>Trainee cum Project Manager</h6>
                <span class="text-muted">Microsoft, TX, USA</span>
              </div>
            </div> {% endcomment %}
            {% comment %} <h5 class="mt-5 mb-4 pb-3 border-bottom">Skills</h5>
            <div class="row align-items-center mt-3">
              <div class="col-md-6 mb-3">
                <h6 class="m-b-10 text-muted">Web Designer</h6>
                <div class="row align-items-center">
                  <div class="col">
                    <div class="progress" style="height:8px">
                      <div class="progress-bar bg-primary" style="width:70%"></div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h6 class="m-b-0">70%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <h6 class="m-b-10 text-muted">Graphic Designer</h6>
                <div class="row align-items-center">
                  <div class="col">
                    <div class="progress" style="height:8px">
                      <div class="progress-bar bg-success" style="width:85%"></div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h6 class="m-b-0">80%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <h6 class="m-b-10 text-muted">UX Researcher</h6>
                <div class="row align-items-center">
                  <div class="col">
                    <div class="progress" style="height:8px">
                      <div class="progress-bar bg-success" style="width:85%"></div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h6 class="m-b-0">3.2</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <h6 class="m-b-10 text-muted">HTML</h6>
                <div class="row align-items-center">
                  <div class="col">
                    <div class="progress" style="height:8px">
                      <div class="progress-bar bg-warning" style="width:45%"></div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h6 class="m-b-0">45%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <h6 class="m-b-10 text-muted">Wordpress</h6>
                <div class="row align-items-center">
                  <div class="col">
                    <div class="progress" style="height:8px">
                      <div class="progress-bar bg-danger" style="width:25%"></div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h6 class="m-b-0">25%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <h6 class="m-b-10 text-muted">PHP</h6>
                <div class="row align-items-center">
                  <div class="col">
                    <div class="progress" style="height:8px">
                      <div class="progress-bar bg-primary" style="width:65%"></div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <h6 class="m-b-0">65%</h6>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="user-set-information" role="tabpanel" aria-labelledby="user-set-information-tab">
        <form method="post" action="" class="card">
          {% csrf_token %}

          <div class="card-header">
            <h5><i class="feather icon-user text-c-blue wid-20"></i><span class="p-l-5">Edit Profile</span></h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="form-label">Full Name <span class="text-danger">*</span></label>
                  <input type="text" name="full_name" class="form-control" value="{{ request.user.profile.full_name|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Contact Phone</label>
                  <input type="text" name="phone" class="form-control" value="{{ request.user.profile.phone|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Email <span class="text-grey">(read only)</span></label>
                  <input type="text" disabled class="form-control" name="email" value="{{ request.user.email }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Address</label>
                  <input type="text" name="address" class="form-control" value="{{ request.user.profile.address|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">City <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="city" value="{{ request.user.profile.city|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Zip Code <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="zip_code" value="{{ request.user.profile.zip_code|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Country <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="country" value="{{ request.user.profile.country|default_if_none:"" }}">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="bio" class="form-label">Bio</label>
                  {{ form.media }}
                  {{ form.bio }}
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </div>
        </form>
      </div>
      {% comment %} <div class="tab-pane fade" id="user-set-account" role="tabpanel" aria-labelledby="user-set-account-tab">
        <div class="card">
          <div class="card-header">
            <h5>
              <i class="feather icon-target text-primary wid-20"></i><span class="p-l-5">Account
                Information</span>
              <small class="text-muted d-block m-l-25 m-t-5">change your account
                settings</small>
            </h5>
          </div>
          <div class="card-body">
            <h5 class="mb-4">General</h5>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Username <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" value="Ashoka_Tano_16">
                  <small class="form-text text-muted">Your Profile URL:
                    https://pc.com/Ashoka_Tano_16</small>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Account Email <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" value="demo@sample.com">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Language</label>
                  <select class="form-control">
                    <option>Washington</option>
                    <option>India</option>
                    <option>Africa</option>
                    <option>New York</option>
                    <option>Malesia</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Signin Using</label>
                  <select class="form-control">
                    <option>Password</option>
                    <option>Face Recognition</option>
                    <option>Thumb Impression</option>
                    <option>Key</option>
                    <option>Pin</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <h5 class="mb-4">Secure Browsing</h5>
            <div class="form-group">
              <div class="switch switch-primary d-inline m-r-10">
                <input type="checkbox" id="customsecbrz1" checked="">
                <label for="customsecbrz1" class="cr"></label>
              </div>
              <label for="customsecbrz1">Browsing Securely ( https ) when it's
                necessary</label>
            </div>
            <hr>
            <h5 class="mb-4">Login Notifications</h5>
            <div class="form-group">
              <div class="switch switch-primary d-inline m-r-10">
                <input type="checkbox" id="customsecbrz2" checked="">
                <label for="customsecbrz2" class="cr"></label>
              </div>
              <label for="customsecbrz2">Notify when login attemped from outher
                place</label>
            </div>
            <hr>
            <h5 class="mb-3">Login Approvals</h5>
            <div class="form-group">
              <div class="switch switch-primary d-inline m-r-10">
                <input type="checkbox" id="customsecbrz3" checked="">
                <label for="customsecbrz3" class="cr"></label>
              </div>
              <label for="customsecbrz3">Approvals is not required when login from
                unrecognized devices.</label>
            </div>
            <hr>
            <h5 class="mb-4">Recognized Devices</h5>
            <div class="media mb-2">
              <i class="feather icon-monitor f-20 h3 me-3 wid-30 text-center"></i>
              <div class="media-body">
                <div class="float-end">
                  <div class="text-success d-inline-block me-2">
                    <i class="fas fa-circle f-10 me-2"></i>
                    Current Active
                  </div>
                  <a href="#!" class="text-danger"><i class="feather icon-x-circle"></i></a>
                </div>
                <span class="text-dark font-weight-bold">Cett Desktop</span>
                <span class="text-muted">| 4351 Deans Lane, Elmsford</span>
              </div>
            </div>
            <div class="media mb-2">
              <i class="feather icon-tablet f-20 h3 me-3 wid-30 text-center"></i>
              <div class="media-body">
                <div class="float-end">
                  <div class="text-muted d-inline-block me-2">
                    <i class="fas fa-circle f-10 me-2"></i>
                    Active 5 days ago
                  </div>
                  <a href="#!" class="text-danger"><i class="feather icon-x-circle"></i></a>
                </div>
                <span class="text-dark font-weight-bold">Imoon Tablet</span>
                <span class="text-muted">| 4185 Michigan Avenue,
                  SHIPPINGPORT</span>
              </div>
            </div>
            <div class="media mb-2">
              <i class="feather icon-smartphone f-20 h3 me-3 wid-30 text-center"></i>
              <div class="media-body">
                <div class="float-end">
                  <div class="text-muted d-inline-block me-2">
                    <i class="fas fa-circle f-10 me-2"></i>
                    Active 1 month ago
                  </div>
                  <a href="#!" class="text-danger"><i class="feather icon-x-circle"></i></a>
                </div>
                <span class="text-dark font-weight-bold">Asbs Mobile</span>
                <span class="text-muted">| 3462 Fairfax Drive, Montclair</span>
              </div>
            </div>
            <hr>
            <h5 class="mb-3">Active Sessions</h5>
            <div class="media mb-2">
              <i class="feather icon-monitor f-20 h3 me-3 wid-30 text-center text-success"></i>
              <div class="media-body">
                <div class="float-end">
                  <a href="#!" class="badge badge-light-danger">Logout</a>
                </div>
                <span class="text-dark font-weight-bold">Cett Desktop</span>
                <span class="text-muted">| 4351 Deans Lane, Elmsford</span>
              </div>
            </div>
            <div class="media mb-2">
              <i class="feather icon-tablet f-20 h3 me-3 wid-30 text-center text-success"></i>
              <div class="media-body">
                <div class="float-end">
                  <a href="#!" class="badge badge-light-danger">Logout</a>
                </div>
                <span class="text-dark font-weight-bold">Imoon Tablet</span>
                <span class="text-muted">| 4185 Michigan Avenue,
                  SHIPPINGPORT</span>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button class="btn btn-primary">Update Profile</button>
            <button class="btn btn-outline-dark ms-2">Clear</button>
          </div>
        </div>
      </div> {% endcomment %}
      <div class="tab-pane fade" id="user-set-passwort" role="tabpanel" aria-labelledby="user-set-passwort-tab">
        <form method="post" action="{% url "change_password" %}" class="card">
          {% csrf_token %}

          <div class="card-header">
            <h5><i data-feather="lock" class="icon-svg-primary wid-20"></i><span class="p-l-5">Change
                Password</span></h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Current Password <span class="text-danger">*</span></label>
                  <input type="password" name="current_password" class="form-control" placeholder="Enter Your current password">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">New Password <span class="text-danger">*</span></label>
                  <input type="password" name="new_password" class="form-control" placeholder="Enter New password">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="form-label">Confirm Password <span class="text-danger">*</span></label>
                  <input type="password" name="confirm_new_password" class="form-control" placeholder="Enter your password again">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-danger">Change Password</button>
            <button type="button" class="btn btn-outline-dark ms-2">Clear</button>
          </div>
        </form>
      </div>
      {% comment %} <div class="tab-pane fade" id="user-set-email" role="tabpanel" aria-labelledby="user-set-email-tab">
        <div class="card">
          <div class="card-header">
            <h5><i data-feather="at-sign" class="icon-svg-primary wid-20"></i><span class="p-l-5">Email
                Settings</span></h5>
            <div class="card-header-right">
              <div class="btn-group card-option">
                <button type="button" class="btn dropdown-toggle btn-icon" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="feather icon-more-horizontal"></i>
                </button>
                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                  <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i>
                        maximize</span><span style="display:none"><i class="feather icon-minimize"></i>
                        Restore</span></a></li>
                  <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i>
                        collapse</span><span style="display:none"><i class="feather icon-plus"></i>
                        expand</span></a>
                  </li>
                  <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a>
                  </li>
                  <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i>
                      remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-4">
              <h5 class="mb-3">Setup Email Notification</h5>
              <div class="m-l-40">
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customSwitchemlnot1" checked="">
                    <label for="customSwitchemlnot1" class="cr"></label>
                  </div>
                  <label for="customSwitchemlnot1">Email Notification</label>
                </div>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customSwitchemlnot2" checked="">
                    <label for="customSwitchemlnot2" class="cr"></label>
                  </div>
                  <label for="customSwitchemlnot2">Send Copy To Personal
                    Email</label>
                </div>
              </div>
            </li>
            <li class="list-group-item py-4">
              <h5 class="mb-3">Activity Related Emails</h5>
              <div class="m-l-40">
                <h6 class="mt-4 mb-2">When to email?</h6>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail1" checked="">
                    <label for="customCheckactmail1" class="cr"></label>
                  </div>
                  <label for="customCheckactmail1">have new
                    notifications</label>
                </div>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail2" checked="">
                    <label for="customCheckactmail2" class="cr"></label>
                  </div>
                  <label for="customCheckactmail1">You're sent a direct
                    message</label>
                </div>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail3" checked="">
                    <label for="customCheckactmail3" class="cr"></label>
                  </div>
                  <label for="customCheckactmail3">Someone adds you as a
                    connection</label>
                </div>
                <h6 class="mt-4 mb-2">When to escalate emails?</h6>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail4" checked="">
                    <label for="customCheckactmail4" class="cr"></label>
                  </div>
                  <label for="customCheckactmail4">Upon new order</label>
                </div>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail5" checked="">
                    <label for="customCheckactmail5" class="cr"></label>
                  </div>
                  <label for="customCheckactmail5">New membership
                    approval</label>
                </div>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail6" checked="">
                    <label for="customCheckactmail6" class="cr"></label>
                  </div>
                  <label for="customCheckactmail6">Member registration</label>
                </div>
              </div>
            </li>
            <li class="list-group-item py-4 border-bottom-0">
              <h5 class="mb-3">Updates From System Notification</h5>
              <div class="m-l-40">
                <h6 class="mt-4 mb-2">Email you with?</h6>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail7" checked="">
                    <label for="customCheckactmail7" class="cr"></label>
                  </div>
                  <label for="customCheckactmail7">News about PCT-themes
                    products and feature updates</label>
                </div>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail8" checked="">
                    <label for="customCheckactmail8" class="cr"></label>
                  </div>
                  <label for="customCheckactmail8">Tips on getting more out of
                    PCT-themes</label>
                </div>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail9" checked="">
                    <label for="customCheckactmail9" class="cr"></label>
                  </div>
                  <label for="customCheckactmail9">Things you missed since you
                    last logged into PCT-themes</label>
                </div>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail10" checked="">
                    <label for="customCheckactmail10" class="cr"></label>
                  </div>
                  <label for="customCheckactmail10">News about products and
                    other services</label>
                </div>
                <div class="form-group mb-0">
                  <div class="switch switch-primary d-inline m-r-10">
                    <input type="checkbox" id="customCheckactmail11" checked="">
                    <label for="customCheckactmail11" class="cr"></label>
                  </div>
                  <label for="customCheckactmail10">Tips and Document business
                    products</label>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer text-end">
            <button class="btn btn-primary">Update Change</button>
            <button class="btn btn-outline-dark ms-2">Clear</button>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
  <!-- [ sample-page ] end -->
</div>
<!-- [ Main Content ] end -->

{% endblock content %}
