{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block title %}Signup{% endblock title %}

{% block content %}

    <div class="auth-wrapper aut-bg-img" style="background-image: url('{% static 'assets/images/bg-images/bg3.jpg' %}');">
        <div class="auth-content">
            <div class="text-white">
                <form method="post" class="card-body text-center">
                    {% csrf_token %}

                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Sign up</h3>
                    
                    {% for field in form %}
                        <div class="input-group mb-3">
                            {{ field }}
                        </div>
                        <span class="text-danger">{{ field.errors }}</span>
                    {% endfor %}
                    <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                            <label for="checkbox-fill-2" class="cr">Send me the <a href="#!" class="text-light"> Newsletter</a> weekly.</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary shadow-2 mb-4">Sign up</button>
                    <p class="mb-0 text-muted">Allready have an account? <a href="{% url 'login_v3' %}"> Log in</a></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}