{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block title %}Change password{% endblock title %}

{% block content %}

   <div class="auth-wrapper">
      <div class="auth-content">
            <div class="auth-bg">
               <span class="r"></span>
               <span class="r s"></span>
               <span class="r s"></span>
               <span class="r"></span>
            </div>
         <div class="card">
            <form method="post" class="card-body text-center">
               {% csrf_token %}

               <h5 class="mb-4">Password</h5>
               {% for field in form %}
               <div class="input-group mb-3">
                  {{ field }}
               </div>    
               <span class="text-danger">{{ field.errors }}</span>   
               {% endfor %}           

               <button type="submit" class="btn btn-primary shadow-2 mb-4">Change Password</button>
               <p class="mb-0 text-muted">Back to dashboard? <a href="{% url 'index' %}">Dashboard</a></p>
            </form>
         </div>
      </div>
   </div>

{% endblock content %}