{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block title %}Change Done{% endblock title %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <form method="post" class="card-body text-center">
                    {% csrf_token %}

                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Change Done</h3>

                    <div class="input-group mb-3">
                      Your password has been changed successfully.
                    </div>
                    <p class="mb-0 text-muted">Back to dashboard? <a href="{% url 'index' %}">Dashboard</a></p>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}