{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block title %}Reset Complete{% endblock title %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <form method="post" class="card-body text-center">
                    {% csrf_token %}

                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Reset Complete</h3>

                    <div class="input-group mb-3">
                      
                      <p class="mb-0 text-muted">Your password has been reset successfully. You can login again now. <a href="{% url 'login_v1' %}"> Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}