{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block title %}Reset Done{% endblock title %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <form method="post" class="card-body text-center">
                    {% csrf_token %}

                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Email Sent</h3>

                    <div class="input-group mb-3">
                      An email has been sent to your email address. Please click the link and reset your password.
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}