{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-primary" role="alert">
				<p>Use our extra helper file for quick setup Basic Components in your page - <a
						href="#" target="_blank" class="alert-link">CHECKOUT</a></p>
				<label class="text-muted">Copy/paste source code in your page in just couples of seconds.</label>
			</div>
		</div>
		<!-- [ badge ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Basic Badges</h5>
				</div>
				<div class="card-body">
					<h1>Example heading <span class="badge bg-secondary">New</span></h1>
					<h2>Example heading <span class="badge bg-secondary">New</span></h2>
					<h3>Example heading <span class="badge bg-secondary">New</span></h3>
					<h4>Example heading <span class="badge bg-secondary">New</span></h4>
					<h5>Example heading <span class="badge bg-secondary">New</span></h5>
					<h6>Example heading <span class="badge bg-secondary">New</span></h6>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5>Button Badges</h5>
				</div>
				<div class="card-body">
					<button type="button" class="btn btn-primary">primary <span
							class="badge bg-secondary">4</span></button>
					<button type="button" class="btn btn-secondary">secondary <span
							class="badge bg-primary">4</span></button>
					<button type="button" class="btn btn-success">success <span
							class="badge bg-secondary">4</span></button>
					<button type="button" class="btn btn-danger">danger <span
							class="badge bg-secondary">4</span></button>
					<button type="button" class="btn btn-warning">warning <span
							class="badge bg-secondary">4</span></button>
					<button type="button" class="btn btn-info">info <span class="badge bg-secondary">4</span></button>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5>Contextual Variations</h5>
				</div>
				<div class="card-body">
					<span class="badge bg-primary">Primary</span>
					<span class="badge bg-secondary">Secondary</span>
					<span class="badge bg-success">Success</span>
					<span class="badge bg-danger">Danger</span>
					<span class="badge bg-warning">Warning</span>
					<span class="badge bg-info">Info</span>
					<span class="badge bg-dark">Dark</span>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5>Pill Badges</h5>
				</div>
				<div class="card-body">
					<span class="badge rounded-pills bg-primary">Primary</span>
					<span class="badge rounded-pills bg-secondary">Secondary</span>
					<span class="badge rounded-pills bg-success">Success</span>
					<span class="badge rounded-pills bg-danger">Danger</span>
					<span class="badge rounded-pills bg-warning">Warning</span>
					<span class="badge rounded-pills bg-info">Info</span>
					<span class="badge rounded-pills bg-dark">Dark</span>
				</div>
			</div>
		</div>
		<!-- [ badge ] end -->
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}