{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-primary" role="alert">
				<p>Use our extra helper file for quick setup Basic Components in your page - <a
						href="#" target="_blank" class="alert-link">CHECKOUT</a></p>
				<label class="text-muted">Copy/paste source code in your page in just couples of seconds.</label>
			</div>
		</div>
		<!-- [ Colored links ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Colored links <span class="badge bg-danger">NEW</span></h5>
					<p class="mb-0">You can use the <code>.link-*</code> classes to colorize links.
						these classes
						have a <code>:hover</code> and <code>:focus</code> state.</p>
				</div>
				<div class="card-body">
					<a href="#" class="me-3 link-primary">Primary link</a>
					<a href="#" class="me-3 link-secondary">Secondary link</a>
					<a href="#" class="me-3 link-success">Success link</a>
					<a href="#" class="me-3 link-danger">Danger link</a>
					<a href="#" class="me-3 link-warning">Warning link</a>
					<a href="#" class="me-3 link-info">Info link</a>
					<a href="#" class="me-3 link-dark">Dark link</a>
					<div class="bg-dark px-3 py-2 d-inline-block rounded">
						<a href="#" class="me-0 link-light">Light link</a>
					</div>
				</div>
			</div>
		</div>
		<!-- [ Colored links ] end -->
		<!-- [ Text selection ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Text selection <span class="badge bg-danger">NEW</span></h5>
					<p class="mb-0">Change the way in which the content is selected when the user
						interacts with it.
					</p>
				</div>
				<div class="card-body">
					<div class="row">
						<label class="col-lg-2 col-sm-12 text-lg-end"><b>User select all</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p class="user-select-all">This paragraph will be entirely selected when
								clicked by the
								user.</p>
						</div>
					</div>
					<div class="row">
						<label class="col-lg-2 col-sm-12 text-lg-end"><b>User select
								auto</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p class="user-select-auto">This paragraph has default select behavior.
							</p>
						</div>
					</div>
					<div class="row">
						<label class="col-lg-2 col-sm-12 text-lg-end"><b>User select
								none</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p class="user-select-none">This paragraph will not be selectable when
								clicked by the
								user.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ Text selection ] end -->
		<!-- [ Line height ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Line height <span class="badge bg-danger">NEW</span></h5>
					<p class="mb-0">Change the line height with <code>.lh-*</code> utilities.</p>
				</div>
				<div class="card-body">
					<div class="row">
						<label class="col-lg-2 col-sm-12 text-lg-end"><b>Line height 1</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p class="lh-1">Vivamus sagittis lacus vel augue laoreet rutrum faucibus
								dolor auctor.
								Donec sed odio dui. Cras mattis pannenkoek purus sit amet fermentum.
							</p>
						</div>
					</div>
					<div class="row">
						<label class="col-lg-2 col-sm-12 text-lg-end"><b>Line height
								small</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p class="lh-sm">Vivamus sagittis lacus vel augue laoreet rutrum
								faucibus dolor auctor.
								Donec sed odio dui. Cras mattis pannenkoek purus sit amet fermentum.
							</p>
						</div>
					</div>
					<div class="row">
						<label class="col-lg-2 col-sm-12 text-lg-end"><b>Line height
								base</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p class="lh-base">Vivamus sagittis lacus vel augue laoreet rutrum
								faucibus dolor
								auctor. Donec sed odio dui. Cras mattis pannenkoek purus sit amet
								fermentum.</p>
						</div>
					</div>
					<div class="row">
						<label class="col-lg-2 col-sm-12 text-lg-end"><b>Line height
								large</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p class="lh-lg">Vivamus sagittis lacus vel augue laoreet rutrum
								faucibus dolor auctor.
								Donec sed odio dui. Cras mattis pannenkoek purus sit amet fermentum.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ Line height ] end -->
		<!-- [ Pointer events ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Pointer events <span class="badge bg-danger">NEW</span></h5>
					<p class="mb-0">Bootstrap provides <code>pe-none</code> and <code>pe-auto</code>
						classes to
						prevent or add element interactions.</p>
				</div>
				<div class="card-body">
					<div class="row">
						<label class="col-lg-3 col-sm-12 text-lg-end"><b>Pointer events
								none</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p><a href="#" class="pe-none">This link</a> can not be clicked.</p>
						</div>
					</div>
					<div class="row">
						<label class="col-lg-3 col-sm-12 text-lg-end"><b>Pointer events
								auto</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p><a href="#" class="pe-auto">This link</a> can be clicked (this is
								default behaviour).
							</p>
						</div>
					</div>
					<div class="row">
						<label class="col-lg-3 col-sm-12 text-lg-end"><b>Pointer events
								combine</b></label>
						<div class="col-lg-6 col-md-10 col-sm-12">
							<p class="pe-none"><a href="#">This link</a> can not be clicked because
								the
								<code>pointer-events</code> property is inherited from its parent.
								However, <a href="#" class="pe-auto">this link</a> has a
								<code>pe-auto</code> class
								and can be clicked.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ Pointer events ] end -->
		<!-- [ Position values ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Position values <span class="badge bg-danger">NEW</span></h5>
					<p class="mb-0">Arrange elements easily with the edge positioning utilities, The
						format is
						<code>{property}-{position}</code>.
					</p>
				</div>
				<div class="card-body">
					<div class="p-3 p-sm-5">
						<div class="position-relative bg-body" style="height:250px">
							<div class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 start-0"
								data-bs-toggle="tooltip" title="position-absolute top-0 start-0">
							</div>
							<div class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 end-0"
								data-bs-toggle="tooltip" title="position-absolute top-0 end-0">
							</div>
							<div class="hei-40 wid-40 rounded bg-secondary position-absolute top-50 start-50"
								data-bs-toggle="tooltip" title="position-absolute top-50 start-50">
							</div>
							<div class="hei-40 wid-40 rounded bg-secondary position-absolute bottom-50 end-50"
								data-bs-toggle="tooltip" title="position-absolute bottom-50 end-50">
							</div>
							<div class="hei-40 wid-40 rounded bg-secondary position-absolute bottom-0 start-0"
								data-bs-toggle="tooltip" title="position-absolute bottom-0 start-0">
							</div>
							<div class="hei-40 wid-40 rounded bg-secondary position-absolute bottom-0 end-0"
								data-bs-toggle="tooltip" title="position-absolute bottom-0 end-0">
							</div>
						</div>
					</div>
					<hr>
					<h5>Center elements</h5>
					<p class="mb-0">In addition, you can also center the elements with the transform
						utility class
						<code>.translate-middle</code>.
					</p>
					<div class="p-3 p-sm-5">
						<div class="position-relative bg-body" style="height:250px">
							<div
								class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 start-0 translate-middle"
								data-bs-toggle="tooltip" title="position-absolute top-0 start-0 translate-middle">
							</div>
							<div
								class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 start-50 translate-middle"
								data-bs-toggle="tooltip" title="position-absolute top-0 start-50 translate-middle">
							</div>
							<div
								class="hei-40 wid-40 rounded bg-secondary position-absolute top-0 start-100 translate-middle"
								data-bs-toggle="tooltip" title="position-absolute top-0 start-100 translate-middle">
							</div>
							<div
								class="hei-40 wid-40 rounded bg-secondary position-absolute top-50 start-0 translate-middle"
								data-bs-toggle="tooltip" title="position-absolute top-50 start-0 translate-middle">
							</div>
							<div
								class="hei-40 wid-40 rounded bg-secondary position-absolute top-50 start-50 translate-middle"
								data-bs-toggle="tooltip" title="position-absolute top-50 start-50 translate-middle">
							</div>
							<div
								class="hei-40 wid-40 rounded bg-secondary position-absolute top-50 start-100 translate-middle"
								data-bs-toggle="tooltip" title="position-absolute top-50 start-100 translate-middle"></div>
							<div
								class="hei-40 wid-40 rounded bg-secondary position-absolute top-100 start-0 translate-middle"
								data-bs-toggle="tooltip" title="position-absolute top-100 start-0 translate-middle">
							</div>
							<div
								class="hei-40 wid-40 rounded bg-secondary position-absolute top-100 start-50 translate-middle"
								data-bs-toggle="tooltip" title="position-absolute top-100 start-50 translate-middle"></div>
							<div
								class="hei-40 wid-40 rounded bg-secondary position-absolute top-100 start-100 translate-middle"
								data-bs-toggle="tooltip" title="position-absolute top-100 start-100 translate-middle"></div>
						</div>
					</div>
					<hr>
					<h5>Examples</h5>
					<p class="mb-0">Here are some real life examples of these classes.</p>
					<div class="p-3 p-sm-5 d-flex justify-content-around">
						<button type="button" class="btn btn-primary position-relative">
							Mails <span
								class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">+99
								<span class="visually-hidden">unread messages</span></span>
						</button>
						<button type="button" class="btn btn-dark position-relative">
							Marker <svg width="1em" height="1em" viewBox="0 0 16 16"
								class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill"
								fill="#343a40" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
							</svg>
						</button>
						<button type="button" class="btn btn-primary position-relative">
							Alerts <span
								class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span
									class="visually-hidden">unread messages</span></span>
						</button>
					</div>
					<hr>
					<p class="mb-0">You can use these classes with existing components to create new
						ones. Remember
						that you can extend its functionality by adding entries to the
						<code>$position-values</code>
						variable.
					</p>
					<div class="p-3 p-sm-5">
						<div class="position-relative">
							<div class="progress" style="height: 3px;">
								<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<button type="button"
								class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
								style="width: 2rem; height:2rem;">1</button>
							<button type="button"
								class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill"
								style="width: 2rem; height:2rem;">2</button>
							<button type="button"
								class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
								style="width: 2rem; height:2rem;">3</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ Position values ] end -->
		<!-- [ border ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Border</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12">
							<h5>Border color</h5>
							<hr>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-primary"
								data-bs-toggle="tooltip" title="border-primary"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary"
								data-bs-toggle="tooltip" title="border-secondary"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-success"
								data-bs-toggle="tooltip" title="border-success"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-danger"
								data-bs-toggle="tooltip" title="border-danger"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-warning"
								data-bs-toggle="tooltip" title="border-warning"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-info"
								data-bs-toggle="tooltip" title="border-info"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-light"
								data-bs-toggle="tooltip" title="border-light"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark"
								data-bs-toggle="tooltip" title="border-dark"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-white"
								data-bs-toggle="tooltip" title="border-white"></span>
						</div>
						<div class="col-md-6 additive">
							<h5 class="mt-5">Additive</h5>
							<hr>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border"
								data-bs-toggle="tooltip" title="border"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border-top"
								data-bs-toggle="tooltip" title="border-top"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border-end"
								data-bs-toggle="tooltip" title="border-end"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border-bottom"
								data-bs-toggle="tooltip" title="border-bottom"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border-dark border-start"
								data-bs-toggle="tooltip" title="border-start"></span>
						</div>
						<div class="col-sm-6">
							<h5 class="mt-5">Subtractive</h5>
							<hr>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-0"
								data-bs-toggle="tooltip" title="border border-0"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-top-0"
								data-bs-toggle="tooltip" title="border border-top-0"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-end-0"
								data-bs-toggle="tooltip" title="border border-end-0"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-bottom-0"
								data-bs-toggle="tooltip" title="border border-bottom-0"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-start-0"
								data-bs-toggle="tooltip" title="border border-start-0"></span>
						</div>
						<div class="col-sm-6">
							<h5 class="mt-5">Border width</h5>
							<hr>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-1"
								data-bs-toggle="tooltip" title="border border-1"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-2"
								data-bs-toggle="tooltip" title="border border-2"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-3"
								data-bs-toggle="tooltip" title="border border-3"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-4"
								data-bs-toggle="tooltip" title="border border-4"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark border-5"
								data-bs-toggle="tooltip" title="border border-5"></span>
						</div>
						<div class="col-sm-6">
							<h5 class="mt-5">Border radius Sizes</h5>
							<hr>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark rounded-sm"
								data-bs-toggle="tooltip" title="rounded-sm"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-dark rounded-lg"
								data-bs-toggle="tooltip" title="rounded-lg"></span>
						</div>
						<div class="col-sm-12">
							<h5 class="mt-5">Border-radius</h5>
							<hr>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded"
								data-bs-toggle="tooltip" title="rounded"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-top"
								data-bs-toggle="tooltip" title="rounded-top"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-right"
								data-bs-toggle="tooltip" title="rounded-right"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-bottom"
								data-bs-toggle="tooltip" title="rounded-bottom"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-left"
								data-bs-toggle="tooltip" title="rounded-left"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-circle"
								data-bs-toggle="tooltip" title="rounded-circle"></span>
							<span class="hei-75 wid-120 bg-body d-inline-block me-2 border border-secondary rounded-pill"
								data-bs-toggle="tooltip" title="rounded-pill"></span>
							<span class="hei-75 wid-75 bg-body d-inline-block me-2 border border-secondary rounded-0"
								data-bs-toggle="tooltip" title="rounded-0"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ border ] end -->
		<!-- [ shadows ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Shadows</h5>
				</div>
				<div class="card-body">
					<div class="shadow-none p-3 mb-5 bg-body rounded">No shadow</div>
					<div class="shadow-sm p-3 mb-5 rounded">Small shadow</div>
					<div class="shadow p-3 mb-5 rounded">Regular shadow</div>
					<div class="shadow-lg p-3 mb-5 rounded">Larger shadow</div>
				</div>
			</div>
		</div>
		<!-- [ shadows ] end -->
		<!-- [ embeds ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Embeds</h5>
				</div>
				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-md-8">
							<div class="ratio ratio-16x9">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1jWCXJfxHQM?rel=0"
									allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ embeds ] end -->
		<!-- [ aspect-ratios ] start -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<h5>Aspect Ratios</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<h5 class="mt-5">Aspect Ratios 21 by 9</h5>
							<hr>
							<div class="ratio ratio-21x9">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1jWCXJfxHQM?rel=0"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="col-md-6">
							<h5 class="mt-5">Aspect Ratios 16 by 9</h5>
							<hr>
							<div class="ratio ratio-16x9">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1jWCXJfxHQM?rel=0"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="col-md-6">
							<h5 class="mt-5">Aspect Ratios 4 by 3</h5>
							<hr>
							<div class="ratio ratio-4x3">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1jWCXJfxHQM?rel=0"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="col-md-6">
							<h5 class="mt-5">Aspect Ratios 1 by 1</h5>
							<hr>
							<div class="ratio ratio-1x1">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1jWCXJfxHQM?rel=0"
									allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ aspect-ratios ] end -->
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}