{% load i18n static admin_datta %}

<ul class="nav pcoded-inner-navbar ">

  {% if not request.user.is_authenticated %}
    <li class="nav-item pcoded-menu-caption">
      <label>Navigation</label>
    </li>
    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
          class="pcoded-mtext">Dashboard</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'index' %}">Default</a></li>
      </ul>
    </li>
    <li
      data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
      class="nav-item pcoded-hasmenu"
    >
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
          class="pcoded-mtext">Authentication</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'login_v1' %}">Sign IN</a></li>
        <li><a href="{% url 'register_v1' %}">Sign UP</a></li>
      </ul>
    </li>
  {% endif %}

  {% if request.user.is_superuser %}
    <li class="nav-item pcoded-menu-caption">
      <label>Navigation</label>
    </li>
    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
          class="pcoded-mtext">Dashboard</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'admin:index' %}">Default</a></li>
      </ul>
    </li>
  {% endif %}
  
  {% admin_get_menu as app_list %}
  {% if app_list %}
      {% for app in app_list %}
          {% if app.has_perms and not app.pinned %}
            <li class="nav-item pcoded-hasmenu">
              <a  href="#" class="nav-link">
                <span class="pcoded-micon"><i class="{% if app.icon %} {{ app.icon }} {% else %} feather icon-home {% endif %}"></i></span>
                <span class="pcoded-mtext">{{ app.label|slice:15 }}{% if app.label|length > 15 %}..{% endif %}</span>
              </a>
              {% if app.models %}
                <ul class="pcoded-submenu">
                  {% for model in app.models %}
                    {% if model.url %}
                      <li>
                        <a href="{{ model.url }}">{{ model.label }}</a>
                      </li>
                    {% else %}
                      <li class="nav-item list-unstyled">{{ model.label }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endif %}
      {% endfor %}
  {% endif %}
  
  {% if request.user.is_authenticated and not request.user.is_superuser %}
    <li class="nav-item pcoded-menu-caption">
      <label>Navigation</label>
    </li>
    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-grid"></i></span><span
          class="pcoded-mtext">Apps</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url "charts" %}">Charts</a></li>
        <li><a href="/api/sales/" target="_blank">API</a></li>
        <li><a href="{% url "datatables" %}">Data Tables</a></li>
        <li><a href="{% url 'file_manager' %}">File Manager</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url "tasks" %}">Tasks</a></li>
        <li><a href="{% url "i18n_view" %}">i18n</a></li>
      </ul>
    </li>
    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
          class="pcoded-mtext">Dashboard</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'index' %}">Default</a></li>
        <li><a href="{% url 'dashboard_ecommerce' %}">Ecommerce</a></li>
        <li><a href="{% url 'dashboard_crm' %}">CRM</a></li>
        <li><a href="{% url 'dashboard_analytics' %}">Analytics</a></li>
        <li><a href="{% url 'dashboard_crypto' %}">Crypto<span
              class="pcoded-badge label label-danger">NEW</span></a></li>
        <li><a href="{% url 'dashboard_project' %}">Project</a></li>
      </ul>
    </li>
    <li data-username="Vertical Horizontal Box Layout RTL fixed static Collapse menu color icon dark"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span
          class="pcoded-mtext">Page layouts</span></a>
      <ul class="pcoded-submenu">
        <li class="pcoded-hasmenu"><a href="#">Vertical</a>
          <ul class="pcoded-submenu">
            <li><a href="{% url 'static_layout' %}">Static</a></li>
            <li><a href="{% url 'fixed_layout' %}">Fixed</a></li>
            <li><a href="{% url 'navbar_fixed_layout' %}">Navbar fixed</a></li>
            <li><a href="{% url 'collapse_layout' %}">Collapse menu</a></li>
          </ul>
        </li>
        <li><a href="{% url 'horizontal_layout' %}">Horizontal</a></li>
        <li><a href="{% url 'box_layout' %}">Box layout</a></li>
        <li><a href="{% url 'rtl_layout' %}">RTL</a></li>
        <li><a href="{% url 'light_layout' %}">Light layout</a></li>
        <li><a href="{% url 'dark_layout' %}">Dark layout <span
              class="pcoded-badge label label-danger">Hot</span></a></li>
        <li><a href="{% url 'color_icon_layout' %}">Color icon</a></li>
      </ul>
    </li>
    <li data-username="widget Statistic Data Table User card Chart" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span
          class="pcoded-mtext">Widget</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'widget_statistic' %}">Statistic</a></li>
        <li><a href="{% url 'widget_data' %}">Data</a></li>
        <li><a href="{% url 'widget_table' %}">Table</a></li>
        <li><a href="{% url 'widget_user_card' %}">User</a></li>
        <li><a href="{% url 'widget_chart' %}">Chart</a></li>
      </ul>
    </li>
    <li data-username="widget Statistic Data Table User card Chart" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span
          class="pcoded-mtext">User</span><span class="pcoded-badge label label-primary">New</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'user_profile' %}">Profile</a></li>
        <li><a href="{% url 'social_profile' %}">Social Profile</a></li>
        <li><a href="{% url 'user_card' %}">User Card</a></li>
        <li><a href="{% url 'user_list' %}">User List</a></li>
      </ul>
    </li>
    <li class="nav-item pcoded-menu-caption">
      <label>UI Element</label>
    </li>
    <li
      data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
          class="pcoded-mtext">Basic</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'bc_alert' %}">Alert</a></li>
        <li><a href="{% url 'bc_button' %}">Button</a></li>
        <li><a href="{% url 'bc_badges' %}">Badges</a></li>
        <li><a href="{% url 'bc_breadcrumb_pagination' %}">Breadcrumb & paggination</a></li>
        <li><a href="{% url 'bc_card' %}">Cards</a></li>
        <li><a href="{% url 'bc_collapse' %}">Collapse</a></li>
        <li><a href="{% url 'bc_carousel' %}">Carousel</a></li>
        <li><a href="{% url 'bc_grid' %}">Grid system</a></li>
        <li><a href="{% url 'bc_progress' %}">Progress</a></li>
        <li><a href="{% url 'bc_modal' %}">Modal</a></li>
        <li><a href="{% url 'bc_spinner' %}">Spinner<span
              class="pcoded-badge label label-danger">NEW</span></a></li>
        <li><a href="{% url 'bc_navs_tabs' %}">Tabs & pills</a></li>
        <li><a href="{% url 'bc_typography' %}">Typography</a></li>
        <li><a href="{% url 'bc_tooltips_popover' %}">Tooltip & popovers</a></li>
        <li><a href="{% url 'bc_toast' %}">Toasts<span class="pcoded-badge label label-danger">NEW</span></a>
        </li>
        <li><a href="{% url 'bc_extra' %}">Other<span class="pcoded-badge label label-primary">NEW</span></a>
        </li>
      </ul>
    </li>
    <li
      data-username="advance components Alert gridstack lightbox modal notification pnotify rating rangeslider slider syntax highlighter Tour Tree view Nestable Toolbar"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span
          class="pcoded-mtext">Advance</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'ac_alert' %}">Sweet alert</a></li>
        <li><a href="{% url 'ac_datepicker' %}">Datepicker</a></li>
        <li><a href="{% url 'ac_lightbox' %}">Lightbox</a></li>
        <li><a href="{% url 'ac_modal' %}">Modal</a></li>
        <li><a href="{% url 'ac_notification' %}">Notification</a></li>
        <!-- <li><a href="../element/ac_nestable.html">Nestable</a></li> -->
        <li><a href="{% url 'ac_pnotify' %}">Pnotify</a></li>
        <!-- <li><a href="../element/ac_rating.html">Rating</a></li> -->
        <li><a href="{% url 'ac_rangeslider' %}">Rangeslider</a></li>
        <li><a href="{% url 'ac_slider' %}">Slider</a></li>
        <li><a href="{% url 'ac_syntax_highlighter' %}">Syntax highlighter</a></li>
        <li><a href="{% url 'ac_tour' %}">Tour</a></li>
        <li><a href="{% url 'ac_treeview' %}">Tree view</a></li>
      </ul>
    </li>
    <li data-username="Animations" class="nav-item"><a href="{% url 'animation' %}" class="nav-link"><span
          class="pcoded-micon"><i class="feather icon-aperture"></i></span><span
          class="pcoded-mtext">Animations</span></a></li>
    <li data-username="icons Feather Fontawsome flag material simple line themify"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-feather"></i></span><span
          class="pcoded-mtext">Icons</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'feather_icon' %}">Feather<span
              class="pcoded-badge label label-danger">NEW</span></a></li>
        <li><a href="{% url 'font_awesome' %}">Font Awesome 5<span
              class="pcoded-badge label label-primary">1000+</span></a></li>
        <li><a href="{% url 'flag_icon' %}">Flag</a></li>
        <li><a href="{% url 'material_icon' %}">Material</a></li>
        <li><a href="{% url 'simple_line' %}">Simple line</a></li>
        <li><a href="{% url 'themify_icon' %}">Themify</a></li>
      </ul>
    </li>
    <li class="nav-item pcoded-menu-caption">
      <label>Forms</label>
    </li>
    <li data-username="form elements advance component validation masking wizard picker select"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
          class="pcoded-mtext">Forms</span></a>
      <ul class="pcoded-submenu">
        <li class=""><a href="{% url 'form_basic' %}" class="">Form Basic</a></li>
        <li class=""><a href="{% url 'form_elements' %}" class="">Form elements</a></li>
        <li class=""><a href="{% url 'input_group' %}" class="">Input group</a></li>
        <li class=""><a href="{% url 'form_checkbox' %}" class="">Checkbox</a></li>
        <li class=""><a href="{% url 'form_radio' %}" class="">Radio</a></li>
        <li class=""><a href="{% url 'form_switch' %}" class="">Switch</a></li>
        <li class=""><a href="{% url 'form_megaoption' %}" class="">Mega option</a></li>
      </ul>
    </li>
    <li data-username="form elements advance component validation masking wizard picker select"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
          class="pcoded-mtext">Forms Plugins</span></a>
      <ul class="pcoded-submenu">
        <li class="pcoded-hasmenu"><a href="#" class="">Date</a>
          <ul class="pcoded-submenu">
            <li><a href="{% url 'form_datepicker' %}">Datepicker</a></li>
            <li><a href="{% url 'form_date_rangepicker' %}">Date Range Picker</a></li>
            <li><a href="{% url 'form_timepicker' %}">Timepicker</a></li>
          </ul>
        </li>
        <li class="pcoded-hasmenu"><a href="#" class="">Select</a>
          <ul class="pcoded-submenu">
            <!-- <li><a href="../forms/form2_select.html">Select</a></li> -->
            <li><a href="{% url 'form_choices' %}">Choices js</a></li>
            <!-- <li><a href="../forms/form2_select2.html">Select2</a></li> -->
            <!-- <li><a href="../forms/form2_multipleselectsplitter.html">Multiple Select Splitter</a></li> -->
          </ul>
        </li>
        <li class=""><a href="{% url 'google_recaptcha' %}">Google reCaptcha</a></li>
        <li class=""><a href="{% url 'form_input_mask' %}">Input Masks</a></li>
        <!-- <li class=""><a href="../forms/form2_rangeslider.html">Range Slider</a></li> -->
        <li class=""><a href="{% url 'clipboard' %}">Clipboard</a></li>
        <li class=""><a href="{% url 'form_nouislider' %}">Nouislider</a></li>
        <!-- <li class=""><a href="../forms/form2_repeater.html">Repeater</a></li> -->
        <li class=""><a href="{% url 'bs_form_switch' %}">Switchjs</a></li>
        <li class=""><a href="{% url 'typeahead' %}">Typeahead</a></li>
        <!-- <li class=""><a href="../forms/form2_touchspin.html">Touchspin</a></li> -->
        <!-- <li class=""><a href="../forms/form2_maxlength.html">Maxlength</a></li> -->
      </ul>
    </li>
    <li data-username="form elements advance component validation masking wizard picker select"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
          class="pcoded-mtext">Text Editors</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'tinymce' %}">Tinymce</a></li>
        <li><a href="{% url 'quill' %}">Quill</a></li>
        <li class="pcoded-hasmenu"><a href="#">CK editor</a>
          <ul class="pcoded-submenu">
            <li><a href="{% url 'classic_editor' %}">Classic</a></li>
            <li><a href="{% url 'document_editor' %}">Document</a></li>
            <li><a href="{% url 'inline_editor' %}">Inline</a></li>
            <li><a href="{% url 'balloon_editor' %}">Balloon</a></li>
          </ul>
        </li>
        <!-- <li><a href="../forms/editor-trumbowyg.html">Trumbowyg editor</a></li> -->
        <li><a href="{% url 'bs_markdown' %}">Markdown</a></li>
      </ul>
    </li>
    <li data-username="form elements advance component validation masking wizard picker select"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
          class="pcoded-mtext">Form Layouts</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'default_layout' %}">Layouts</a></li>
        <li><a href="{% url 'multicolumn_layout' %}">Multicolumn</a></li>
        <li><a href="{% url 'actionbars_layout' %}">Actionbars</a></li>
        <li><a href="{% url 'sticky_actionbars_layout' %}">Sticky Actionbars</a></li>
      </ul>
    </li>
    <li data-username="form elements advance component validation masking wizard picker select"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
          class="pcoded-mtext">File upload</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'dropzone' %}">Dropzone</a></li>
        <li><a href="{% url 'uppy' %}">Uppy</a></li>
      </ul>
    </li>
    <li data-username="Form Validation" class="nav-item"><a href="{% url 'form_validation' %}"
        class="nav-link"><span class="pcoded-micon"><i class="feather icon-grid"></i></span><span
          class="pcoded-mtext">Form
          Validation</span></a></li>
    <li data-username="Form image cropper" class="nav-item"><a href="{% url 'image_cropper' %}"
        class="nav-link"><span class="pcoded-micon"><i class="feather icon-scissors"></i></span><span
          class="pcoded-mtext">Image
          cropper</span></a></li>
    <!-- <li data-username="form wizard" class="nav-item pcoded-hasmenu">
          <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form Wizard</span></a>
          <ul class="pcoded-submenu">
              <li><a href="../forms/form-wizard.html">Wizard 1</a></li>
              <li><a href="../forms/page-wizard2.html">Wizard 2</a></li>
              <li><a href="../forms/page-wizard3.html">Wizard 3</a></li>
          </ul>
      </li> -->
    <li class="nav-item pcoded-menu-caption">
      <label>table</label>
    </li>
    <li data-username="Table bootstrap" class="nav-item">
      <a href="{% url 'bs_table' %}" class="nav-link"><span class="pcoded-micon"><i
            class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
    </li>
    <li class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span
          class="pcoded-mtext">Vanilla table</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'basic_table' %}">Basic initialization</a></li>
        <li><a href="{% url 'dynamic_import' %}">Dynamic Import</a></li>
        <li><a href="{% url 'render_column_cells' %}">Render Column Cells</a></li>
        <li><a href="{% url 'column_manipulation' %}">Column Manipulation</a></li>
        <li><a href="{% url 'datetime_sorting' %}">Datetime Sorting</a></li>
        <li><a href="{% url 'methods' %}">Methods</a></li>
        <li><a href="{% url 'add_rows' %}">Add Rows</a></li>
        <li><a href="{% url 'fetch_api' %}">Fetch API</a></li>
        <li><a href="{% url 'filters' %}">Filters</a></li>
        <li><a href="{% url 'export' %}">Export</a></li>
      </ul>
    </li>
    <li class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span
          class="pcoded-mtext">Data table</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'dt_basic_table' %}">Basic initialization</a></li>
        <li><a href="{% url 'dt_advance_table' %}">Advance initialization</a></li>
        <li><a href="{% url 'dt_styling' %}">Styling</a></li>
        <li><a href="{% url 'dt_api' %}">API</a></li>
        <li><a href="{% url 'dt_plugin' %}">Plug-in</a></li>
        <li><a href="{% url 'dt_data_source' %}">Data sources</a></li>
      </ul>
    </li>
    <li class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span
          class="pcoded-mtext">DT extensions</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'dt_autofill' %}">Autofill</a></li>
        <li class="pcoded-hasmenu">
          <a href="#">Button</a>
          <ul class="pcoded-submenu">
            <li><a href="{% url 'dt_basic_button' %}">Basic button</a></li>
            <li><a href="{% url 'dt_data_export' %}">Data export</a></li>
          </ul>
        </li>
        <li><a href="{% url 'dt_col_reorder' %}">Col reorder</a></li>
        <li><a href="{% url 'dt_fixed_columns' %}">Fixed columns</a></li>
        <li><a href="{% url 'dt_fixed_header' %}">Fixed header</a></li>
        <li><a href="{% url 'dt_key_table' %}">Key table</a></li>
        <li><a href="{% url 'dt_responsive' %}">Responsive</a></li>
        <li><a href="{% url 'dt_row_reorder' %}">Row reorder</a></li>
        <li><a href="{% url 'dt_scroller' %}">Scroller</a></li>
        <li><a href="{% url 'dt_select_table' %}">Select table</a></li>
      </ul>
    </li>
    <li class="nav-item pcoded-menu-caption">
      <label>Chart & Maps</label>
    </li>
    <li data-username="Charts AM Chart js Echart Google Highchart Knob Morris Nvd3 Peity Radial"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
          class="pcoded-mtext">Chart</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'amchart_4' %}">amChart 4</a></li>
        <li><a href="{% url 'chartjs' %}">Chart js</a></li>
        <!-- <li><a href="../chart-maps/chart-echart.html">Echart</a></li> -->
        <li><a href="{% url 'chart_google' %}">Google</a></li>
        <li><a href="{% url 'chart_highchart' %}">Highchart</a></li>
        <!-- <li><a href="../chart-maps/chart-knob.html">Knob</a></li> -->
        <!-- <li><a href="../chart-maps/chart-morris.html">Morris</a></li> -->
        <!-- <li><a href="../chart-maps/chart-nvd3.html">Nvd3</a></li> -->
        <!-- <li><a href="../chart-maps/chart-peity.html">Peity</a></li> -->
        <li><a href="{% url 'chart_radial' %}">Radial</a></li>
      </ul>
    </li>
    <li data-username="Maps Google Vector Google Map Search API Location" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-map"></i></span><span
          class="pcoded-mtext">Maps</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'google_maps' %}">Google</a></li>
        <li><a href="{% url 'vector_maps' %}">Vector</a></li>
        <li><a href="{% url 'map_api' %}">Gmap search API</a></li>
        <li><a href="{% url 'location_maps' %}">Location</a></li>
      </ul>
    </li>
    <li class="nav-item pcoded-menu-caption">
      <label>Pages</label>
    </li>
    <li data-username="landing page" class="nav-item"><a href="{% url 'landing_page' %}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-navigation-2"></i></span><span
          class="pcoded-mtext">Landing
          page</span></a></li>
    <li
      data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
      class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
          class="pcoded-mtext">Authentication</span><span class="pcoded-badge label label-danger">New</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'register_v1' %}" target="_blank">Sign up</a></li>
        <li><a href="{% url 'register_v2' %}" target="_blank">Sign up v2<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'register_v3' %}" target="_blank">Sign up v3<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'register_v4' %}" target="_blank">Sign up v4<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'register_v5' %}" target="_blank">Sign up v5<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'login_v1' %}" target="_blank">Sign in</a></li>
        <li><a href="{% url 'login_v2' %}" target="_blank">Sign in v2<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'login_v3' %}" target="_blank">Sign in v3<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'login_v4' %}" target="_blank">Sign in v4<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'login_v5' %}" target="_blank">Sign in v5<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'password_reset_v1' %}" target="_blank">Reset password</a></li>
        <li><a href="{% url 'password_reset_v2' %}" target="_blank">Reset password v2<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'password_reset_v3' %}" target="_blank">Reset password v3<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'password_reset_v4' %}" target="_blank">Reset password v4<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'password_reset_v5' %}" target="_blank">Reset password v5<span
              class="pcoded-badge label label-primary">New</span></a></li>
        <li><a href="{% url 'change_password' %}">Change password</a></li>
        <li><a href="{% url 'personal_information' %}" target="_blank">Personal information</a></li>
        <li><a href="{% url 'profile_settings' %}" target="_blank">Profile settings</a></li>
        <li><a href="{% url 'map_form' %}" target="_blank">Map form</a></li>
        <li><a href="{% url 'subscribe_form' %}" target="_blank">Subscribe</a></li>
      </ul>
    </li>
    <li data-username="Maintenance Error Comming soon offline ui" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sliders"></i></span><span
          class="pcoded-mtext">Maintenance</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'error' %}" target="_blank">Error</a></li>
        <li><a href="{% url 'coming_soon' %}" target="_blank">Maintenance</a></li>
        <li><a href="{% url 'offline' %}" target="_blank">Offline UI</a></li>
      </ul>
    </li>
    <li class="nav-item pcoded-menu-caption">
      <label>App</label>
    </li>
    <li data-username="message" class="nav-item"><a href="{% url 'messages' %}" class="nav-link"><span
          class="pcoded-micon"><i class="feather icon-message-circle"></i></span><span
          class="pcoded-mtext">Message</span></a></li>
    <li data-username="Task list board details" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span
          class="pcoded-mtext">Task</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'task_list' %}">List</a></li>
        <li><a href="{% url 'task_board' %}">Board</a></li>
        <li><a href="{% url 'task_details' %}">Detail</a></li>
      </ul>
    </li>
    <li data-username="To-Do notes" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i
            class="feather icon-check-square"></i></span><span class="pcoded-mtext">To-Do</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'todo' %}">To-Do</a></li>
        <!-- <li><a href="../apps/notes.html">Notes</a></li> -->
      </ul>
    </li>
    <li data-username="Gallery Grid Masonry Advance" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-image"></i></span><span
          class="pcoded-mtext">Gallery</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'gallery_grid' %}">Grid</a></li>
        <li><a href="{% url 'gallery_masonry' %}">Masonry</a></li>
        <li><a href="{% url 'gallery_advance' %}">Advance</a></li>
      </ul>
    </li>
    <li class="nav-item pcoded-menu-caption">
      <label>Extension</label>
    </li>
    <li data-username="Invoice Summury List" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-minus"></i></span><span
          class="pcoded-mtext">Invoice</span></a>
      <ul class="pcoded-submenu">
        <li><a href="{% url 'invoice' %}">Invoice</a></li>
        <li><a href="{% url 'invoice_summary' %}">Invoice summary</a></li>
        <li><a href="{% url 'invoice_list' %}">Invoice list</a></li>
      </ul>
    </li>
    <li data-username="Full Calendar" class="nav-item"><a href="{% url 'full_calendar' %}"
        class="nav-link"><span class="pcoded-micon"><i class="feather icon-calendar"></i></span><span
          class="pcoded-mtext">Full
          calendar</span></a></li>
    <li class="nav-item pcoded-menu-caption">
      <label>Other</label>
    </li>
    <li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span
          class="pcoded-mtext">Menu levels</span></a>
      <ul class="pcoded-submenu">
        <li><a href="">Menu Level 2.1</a></li>
        <li class="pcoded-hasmenu">
          <a href="#">Menu level 2.2</a>
          <ul class="pcoded-submenu">
            <li><a href="">Menu level 3.1</a></li>
            <li><a href="">Menu level 3.2</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li data-username="Disabled Menu" class="nav-item disabled"><a href="#" class="nav-link"><span
          class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled
          menu</span></a></li>
    <li data-username="Sample Page" class="nav-item"><a href="{% url 'sample_page' %}" class="nav-link"><span
          class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample
          page</span></a></li>
  {% endif %}
  <li class="nav-item pcoded-menu-caption">
    <label>Resources</label>
  </li>
  <li data-username="Need Support" class="nav-item">
    <a href="https://appseed.us/product/datta-able-pro/django/" class="nav-link" target="_blank">
      <span class="pcoded-micon">
        <i class="feather icon-download"></i>
      </span>
      <span class="pcoded-mtext">Download</span></a>
  </li>    
  <li data-username="Need Support" class="nav-item">
    <a href="https://appseed.us/support/" class="nav-link" target="_blank">
      <span class="pcoded-micon">
        <i class="feather icon-help-circle"></i>
      </span>
      <span class="pcoded-mtext">Support</span></a>
  </li>  
</ul>
