<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed">
  <div class="navbar-wrapper ">
    <div class="navbar-brand header-logo">
      <a href="{% url 'index' %}" class="b-brand">
        <img width='200px' src="https://www.cpao.go.th/images/header-135-1/logo.png">
        
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    </div>
    <div class="navbar-content scroll-div ">
      {% include 'includes/menu-list.html' %}
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->