{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Horizontal layout{% endblock title %}

{% block style %}
{% include 'includes/layout-style.html' %}
{% endblock style %}

{% block sidebar %}
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar theme-horizontal">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{% url 'index' %}" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Datta Able</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        </div>
        <div class="navbar-content sidenav-horizontal" id="layout-sidenav">
            {% include 'includes/menu-list.html' %}
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
{% endblock sidebar %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="row">
    <!-- [ horizontal-layout ] start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Horizontal layout</h5>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle btn-icon" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i>
                                        maximize</span><span style="display:none"><i class="feather icon-minimize"></i>
                                        Restore</span></a></li>
                            <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                            class="feather icon-minus"></i>
                                        collapse</span><span style="display:none"><i class="feather icon-plus"></i>
                                        expand</span></a>
                            </li>
                            <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i>
                                    reload</a></li>
                            <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i>
                                    remove</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-block">
                  <!-- [ contain ] start -->
<!-- [ animation ] start -->
   <div class="card-block text-center">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 50px;">
           
              <img src="{% static 'assets/images/product/prod-1.jpg' %}" alt="img"
                class="img-fluid animation-toggle animated" data-animate="bounce">
				   <h6>ระบบบริหารจัดการฐานข้อมูลภูมิสารสนเทศขนาดใหญ่ (GIS Big Data)
ระบบ Big Data ด้านเชิงพื้นที่</h6>
            </div>
          
            <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 50px;">
           
              <img src="{% static 'assets/images/product/prod-4.jpg' %}" alt="img"
                class="img-fluid animation-toggle animated" data-animate="rubberBand">
				   <h6>ระบบสำหรับติดตามตำแหน่ง
ยานพาหนะหรือทรัพย์สิน
ติดตามทรัพย์สินยานพาหนะ</h6>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 50px;">
             
              <img src="{% static 'assets/images/product/prod-5.jpg' %}" alt="img"
                class="img-fluid animation-toggle animated" data-animate="headShake">
				 <h6>ระบบสำหรับตรวจสอบ
สิ่งกีดขวางทางน้ำ
วิเคราะห์ ตรวจสอบปริมาณผักตบชวา</h6>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 50px;">
              
              <img src="{% static 'assets/images/product/prod-1.jpg' %}" alt="img"
                class="img-fluid animation-toggle animated" data-animate="swing">
				<h6>ระบบสำหรับการแสดงปริมาตรน้ำ
วิเคราะห์แนวโน้มระดับน้ำ</h6>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 50px;">
           
              <img src="{% static 'assets/images/product/prod-2.jpg' %}" alt="img"
                class="img-fluid animation-toggle animated" data-animate="tada">
				   <h6>ระบบภูมิสารสนเทศทะเบียนประวัติคลองถ่ายโอน
ข้อมูลประวัติการจัดการคลอง</h6>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 50px;">
              
              <img src="{% static 'assets/images/product/prod-3.jpg' %}" alt="img"
                class="img-fluid animation-toggle animated" data-animate="wobble">
				<h6>ระบบบริการข้อมูลภูมิสารสนเทศ
Data Center Dashboard
แดชบอร์ดรวมข้อมูลทุกระบบฯ</h6>
            </div>
    
          </div>
        </div>
    
    <!-- [ animation ] end -->
				     <!-- [ contain ] end -->
            </div>
        </div>

    </div>
    <!-- [ horizontal-layout ] end -->
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

{% block fixed_plugin %}{% endblock fixed_plugin %}

{% block extra_js %}
<!-- prism Js -->
<script src="{% static 'assets/js/plugins/prism.js' %}"></script>
  <script>
    var elem = document.querySelectorAll(".animation-toggle");
    for (var j = 0; j < elem.length; j++) {
      elem[j].addEventListener("mouseover", function (event) {
        var targetElement = event.target;
        var anim = targetElement.getAttribute('data-animate');
        targetElement.classList.add('animate__animated');
        targetElement.classList.add('animate__' + anim);
        setTimeout(function () {
          targetElement.classList.remove('animate__' + anim);
        }, 3000);
      });
    }
  </script>
  
{% endblock extra_js %}